{
   project =
   {
      description="🛄 Debugging support for mulle-container";
      domain="github";
      name="mulle-container-debug";
      user="mulle-c";
      repo="mulle-container-debug";
      homepage="https://github.com/mulle-c/mulle-container-debug";
      license="UNLICENSED";
   };
   dependencies =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      },
      {
         description="↗️ A growable C char array and also a stream";
         domain="github";
         name="mulle-buffer";
         repo="mulle-buffer";
         url="https://github.com/mulle-c/mulle-buffer";
         user="mulle-c";
      },
      {
         description="🛄 Arrays, hashtables and a queue";
         domain="github";
         name="mulle-container";
         repo="mulle-container";
         url="https://github.com/mulle-c/mulle-container";
         user="mulle-c";
      },
      {
         description="🔢 An extensible sprintf function supporting stdarg and mulle-vararg";
         domain="github";
         name="mulle-sprintf";
         repo="mulle-sprintf";
         url="https://github.com/mulle-core/mulle-sprintf";
         user="mulle-core";
      }
   );
}
